.catalogo-title {
    text-align: center;
    margin-top: 30px;
    font-size: clamp(24px, 5vw, 48px);
    color: #01cd01;
    -webkit-text-stroke: 1px #ffffff;
    font-weight: bold;

}

/* layout a griglia responsive */
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 20%;
    justify-content: center;
}


.catalogo-item {
    width: 100%;
    background-color: #01cd01;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Spazio tra i riquadri */
    transition: transform 0.2s;
}

/* link testuali disabilitati */
.catalogo-item a {
    text-decoration: none;
    color: inherit;
    all: unset;
    display: block;
}

.catalogo-item img {
    width: 95%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    transform: scale(1.02);
}

.sottotitolo {
    background-color: #01cd01;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    min-height: 50px;
}

.logo, .top-right-image, .top-right-carrello {
    margin: 10px;
}

.top-right-image, .top-right-carrello {
    position: absolute;
    top: 10px;
}

.top-right-image {
    right: 60px;
}

.top-right-carrello {
    right: 10px;
}