
/* categorie */
.categorie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding: 2%;
}

.categorie-item {
    position: relative;
}

.categorie-item img {
    width: 100%;
    border-radius: 8px;
}

.categorie-item .testo {
    position: absolute;
    top: 85%;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1% 2%;
    border-radius: 5%;
    font-size: 100%;
    transform: translate(-50%, -50%);
}

.categorie-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    border: 2px solid #01cd01;
}